{% extends "layout.html" %}
{% block title %}To Do App{% endblock %}
{% block content %}
  <div class="jumbotron text-center">
    <h1>To-Do App</h1>
    <p>Create, organise, and track your tasks more efficiently.</p> 
  </div>
  <div class="jumbotron text-center">
    <p class="my-2">Click here for the previously integrated Trello board: https://trello.com/b/fbSVOMn5/jntodo</p>
    <p class="my-2">Update: Module 11 in progress. User Authentication.</p>
    <p class="my-2">Current User Role: {{ current_user.role }} </p>
    {% if current_user.role == 'writer' %}
      <form action="/add" method="POST">
        <h3>New Task</h3>
        <label for="title">Please enter the title of a new task here:</label><br>
        <input type="text" name="myinput" autocomplete="off" ><br>
        <input type="submit" value="Submit">
      </form>
    {% endif %}  
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>To Do</h3>
        <p>This is your list of to-do items...</p>
        <p>Please change their status to doing or done as you progress them...</p>
        {% for item in view_model.todo_items %}
                <li>{{ item.name }}</li>
                <form action="/update_doing" method="POST">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <div style="width:500px;">
                    {% if current_user.role == 'writer' %}
                      <button type="submit" class="msgBtn">Doing</button>
                    {% endif %}
                    </div>
                </form>
                <form action="/update_done" method="POST">
                  <input type="hidden" name="id" value="{{ item.id }}">
                  <div style="width:500px;">
                    {% if current_user.role == 'writer' %}  
                      <button type="submit" class="msgBtn">Done</button>
                    {% endif %}
                  </div>
                </form>
          {% endfor %}
      </div>
      <div class="col-sm-4">
        <h3>Doing</h3>
        <p>This is your list of doing items...</p>
        <p>Please change their status to to-do or done as needed...</p>
        {% for item in view_model.doing_items %}
            <li>{{ item.name }}</li>
            <form action="/update_todo" method="POST">
              <input type="hidden" name="id" value="{{ item.id }}">
              <div style="width:500px;">
                {% if current_user.role == 'writer' %} 
                  <button type="submit" class="msgBtn2">To Do</button>
                {% endif %}
              </div>
            </form>
            <form action="/update_done" method="POST">
              <input type="hidden" name="id" value="{{ item.id }}">
              <div style="width:500px;"> 
                {% if current_user.role == 'writer' %} 
                  <button type="submit" class="msgBtn3">Done</button>
                {% endif %}  
              </div>
            </form>
        {% endfor %}
      </div>
      <div class="col-sm-4">
        <h3>Done</h3>        
        <p>This is your list of done items...</p>
        <p>Please change their status to to-do or doing if needed...</p>
        {% for item in view_model.done_items %}
            <li>{{ item.name }}</li>
            <form action="/update_todo" method="POST">
              <input type="hidden" name="id" value="{{ item.id }}">
              <div style="width:500px;">
                {% if current_user.role == 'writer' %} 
                  <button type="submit" class="msgBtn2">To Do</button>
                {% endif %} 
              </div>
            </form>
            <form action="/update_doing" method="POST">
              <input type="hidden" name="id" value="{{ item.id }}">
              <div style="width:500px;">  
                {% if current_user.role == 'writer' %} 
                  <button type="submit" class="msgBtn3">Doing</button>
                {% endif %} 
              </div>
            </form>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}